name: Publish Docs to GitHub Pages

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out source code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install Redoc CLI
        run: |
          npm install -g redoc-cli

      - name: Generate HTML from OpenAPI spec
        run: redoc-cli bundle ./specs/openapi/openapi.yml -o ./docs/openapi.html

      - name: Generating HTML from AsyncAPI spec
        uses: docker://asyncapi/github-action-for-generator:2.0.0
        with:
          template: '@asyncapi/html-template@0.19.0'
          parameters: singleFile=true  outFilename=docs/asyncapi.html
          filepath: specs/asyncapi/asyncapi.yml
          output: ./docs/asyncapi.html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
